@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



  
  body {
  /*font-family: cursive;*/
  background-color: #171616;
  color: white;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  }
  
  a {
  
  text-decoration: none;
  
  }

  a { 
    color: inherit; 
  } 
  
  li {
  
  list-style: none;
  
  }

  /* NAVBAR STYLING STARTS */

.navbar {

  display: flex;
  
  align-items: center;
  
  justify-content: space-between;
  
  padding: 1em ;
  
  background-color: #131212;
  
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  
  
  }
  
  .nav-links a {
  
  color: #fff;
  
  }
  
  
  /* LOGO */
  
  .logo {
  color: #08b43c;
  font-size: 24px;
  font-weight: bold;
  
  }
  
  /* NAVBAR MENU */
  
  .menu {
  
  display: flex;
  
  gap: 1em;
  
  font-size: 16px;
  
  }
  
  .menu li:hover {
  
  background-color: #252525;
  
  border-radius: 5px;
  
  transition: 0.3s ease;
  
  }
  
  .menu li {
  
  padding: 5px 14px;
  
  }

/* Hero section (first part of the website*/

  .main-section {
    margin: 10em 5em 5em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }


  .hero {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
    
  }

  .self {
    color: #afafaf;
    font-size: 1em;
  }

  .hi {
    color: #08b43c;
  }
  
     /* Button*/


   button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

   .btn {
    color: #08b43c;
    background-color: #222;
    border: 1px solid #08b43c;
    border-radius: 1px;
    padding: 0.8em 0.8em;
    width: 10em;
    display: flex;
    margin-top: 5em;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #08b43c;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .btn:hover {
    box-shadow: inset 400px 0 0 0 #08b43c;
    color: #fff;
  }

  .top-image {
    /*display: flex;
    justify-content: flex-end;*/
    max-width: 100%;
    height: auto;
    margin-top: 0;
  
  }
  
  /*ABOUT ME SECTION*/

  .about-me {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background-color: #252525;
    gap: 2em;
    align-items: center;
    
    
  }
  

  .my-photo {
    width: 400px;
    height: auto;
    
  }

  .about-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
    color: #d1d1d1;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
  }

  .about-info > p {
    font-size: medium;
    line-height: 1.9em;
    text-align: left;
    
    
    
  }

  /* Technologies that i use*/
  .top-tech {
    margin-top: 2em;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
  }
  .top-techp {
    color: #929191;
    font-size: medium;
    
  }

  h3 {
   font-size: 2em;
  }
  
  .tech-all {
    gap: 1em;
    padding: 2em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .tech {
    display: flex;
    background-color: #252525;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    width: 12em;
    height: 7em;
    
  }
  
  
  #tech-fa {
    font-size: 2em;
    
  }

  #tech-fa:hover {
    color: #ffffff;
  }

  .tech > p {
    
    font-size: 1em;
    font-weight: bold;
  }

  /*Projects*/
  .project-head {
    display: flex;
    justify-content: center;
    margin: 2.1em 0em 0.5em 0em;
    font-size: 1.6em;
    font-weight: bold
  }


  /*project cards*/
  .card-all {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    

    
  }
  

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20em;
    height: auto;
    margin-top: 2em;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 1em 16px;
    
  }
  .container > p {
    color: rgb(138, 138, 138);
    font-weight: 400;

  }

  .card-tech {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    padding: 1em 0em;
  }

  .tool-text {
    background-color:#797979;
    color: #000000;
    border-radius: 5px;
    padding: 1px 10px 1px;
    font-size: small;
    
  }

  .live-link {
    display: flex;
    gap: 1em;
    font-weight: bold;
    font-size: 0.8em;
    

  }
  .live-link1:hover {
    color: #08b43c;
  }
  .live-link2:hover {
    color: #08b43c;
  }
  
           /*Get in touch*/
  
  .hire-all {
    padding: 2em;
    margin-top: 3em;
  }

  
  
  .hire-me {
    color: #08b43c;
  }

  .collab {
    font-size: 2em;
    font-weight: bolder;
  }

  .hire-sub {
    color: #8f8c8c;
    font-size: medium;
    width: 30em;
    padding-right: 1em;
    
  }

    /*Scrool to the top button*/
    #myBtn {
      
      position: fixed;
      bottom: 2em;
      right: 2em;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #3333332a;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
      
    }
    #scroll-top {
      color: #08b43c;
    }
    
    #myBtn:hover {
      background-color: #3333332a;
    }
    
      /*Footer section*/
  
  .footer-all {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #252525;
    margin-top: 5em;
  }    

  .footer-nav1 {
    font-size: small;
    display: flex;
    gap: 0.5em;
  }
  .copy {
    color: #8f8c8c;
  }

  .footer-nav2 {
    display: flex;
    gap: 2em;
  }
  

    

  


  /*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{

  display: none;
  
  }
  
  /*HAMBURGER MENU*/
  
  .hamburger {
  
  display: none;
  
  font-size: 30px;
  margin-right: 10px;
  user-select: none;
  
  }

  /* SOCIAL LINK ICONS*/
  
  .social {
    display: flex;
    gap: 2em;
    font-size: large;
  }
  .fab {
    color: white;
  }
  .fa {
    color: white;
    
  }
  .fa:hover{
    color: #08b43c;
    transition: 0.3s ease;
  }
  #social-end {
    display: none;

  }
  

  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {

    
    .main-section {
      margin: 15em 1em 17em 1em;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
      
    }
    
    .hero {
      align-items: center;
      gap: 0.2em;
    }

    .h1font {
      font-size: 2.3em;
      
    }

    .self {
      text-align: center;
      
    }

    .top-image {
      display: none;
    }

    

    .about-me {
      flex-wrap: wrap-reverse;
      padding: 0em;
      
    }

    .about-info {
      margin-top: 2em;
      gap: 1em;
      padding-left: 1.1em;
      padding-right: 1.1em;
    }

    h2 {
      font-size: 1.6em;
    }
    
    h3 {
      font-size: 1.6em;
    }

    .tech-all {
      gap: 1em;
      padding: 2em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
    }

    
    .tech {
      display: flex;
      background-color: #252525;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: large;
      width: 8.5em;
      height: 5em;
      
    }
    #tech-fa {
      font-size: 1.2em;
    }
  
    .tech > p {
      
      font-size: 1em;
      font-weight: bold;
    }

    .card-all {
      justify-content: center;
    }
    .hire-sub {
      width: auto;
    }
  
  }
  
  @media (max-width: 1024px) { /*768*/
  
  .menu {
  
  display: none;
  
  position: absolute;
  
  background-color: #131212;
  
  right: 0;
  
  left: 0;
  
  text-align: center;
  
  padding: 2em;
  
  }
  
  .menu li:hover {
  
  display: inline-block;
  
  background-color: #252525;
  
  transition: 0.3s ease;
  
  }
  
  .menu li + li {
  
  margin-top: 12px;
  
  }
  
  input[type=checkbox]:checked ~ .menu{
  
  display: block;
  
  }
  
  .hamburger {
  
  display: block;
  
  }
  
  

  .social {
    display: none;
  }
  
  #social-end {
    display: block;
  }
  
  

  }